<template>
  <div class="Elixir-card">
    <img class="picture" v-bind:src="picture_url"/>
    <div>
      <h2 class="firstname">{{firstname}}</h2>
      <p class="effect">{{effect}}</p><p class="Id">{{Id}}</p>
    </div>  
  </div>
</template>

<script>
	export default {
		name: 'ElixirCard',
		props: {
			firstname: {type: String, required: true},
			effect: String, 
			picture_url: String,
		}
	}
</script>

<style>
	.Elixir-card {
		display: gird;
		width: 200px;
		padding: 20px;
		margin: 20px;

	}

	h2 {
		font-size: 16px;
	}

	p {
		font-size: 13px;
	}

	img{
		width: 180px;
	}

</style>