<template>
	<div id="app">
		<header>
			<div>
				<div>
					<input type="text" v-model="search" placeholder="cherche un elixir">
					<button v-on:click="cleanSearch">X</button>
				</div>
				<br>
				<label for="elixir-sort"> Trier par : </label>
				<select v-model="elixirSortType" id="elixir-sort">
					<option value="AZName">Noms de A à Z</option>
					<option value="ZAName">Noms de Z à A</option>
				</select>
			</div>
		</header> 
				
		<div id="Galery">
			<div v-for="Elixir in OrganizedData" :key="Elixir.id">
				<ElixirCard v-bind:firstname="Elixir.name" 
							v-bind:effect="Elixir.effect" 
							picture_url="https://m.media-amazon.com/images/I/81aZXb7l5sL._AC_SX355_.jpg"/>
			</div>
		</div>
		<div id="biquette">
			<img class="biquette" src="https://www.photos-animaux.com/data/photos/573/5722/572189.jpg"/>
		</div>

		<footer>
			<button v-on:click="showBiquette">Biquette</button>	
		</footer>
	</div>		
</template>

<script>
	import ElixirCard from './components/ElixirCard.vue'
	import getElixirData from '@/services/api/ElixirApi.js'

	export default {
		name: 'App',
		components: {
			ElixirCard
		},
		computed: {
			OrganizedData: function() {
				const reversed = ["ZAName"].includes(this.elixirSortType)
				const filterFunc = (a) => a.name.toLowerCase().includes(this.search.toLowerCase())
				const comparator = (a, b) => a["name"].localeCompare(b["name"]) 
				let Organizeddata = this.ElixirData.filter(filterFunc)
				Organizeddata.sort(comparator)
				if (reversed) Organizeddata = Organizeddata.reverse()
				return Organizeddata
			}
		},

		data(){
			return{
				ElixirData: [],
				search: "",
				elixirSortType: ""
			}		
		},

		created : function(){
			this.retrieveElixirData()
		},

		methods:{
			showBiquette : function() {
				var biquette = document.getElementById("biquette");
				var Galery = document.getElementById("Galery");
				if (biquette.style.display !== "none") {
					biquette.style.display = "none";
					Galery.style.display = "flex";
				} else {
					biquette.style.display = "block";
					Galery.style.display = "none";
				}
			},
			cleanSearch: function() {
				this.search = ""
			},
			async retrieveElixirData(){
				this.ElixirData = await getElixirData()
			}
			
		}
	}

</script>

<style scoped>
	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
		margin-top: 60px;
		
		justify-content: center;
	}

	header {
		height: 80px;
		color:white;
		background-color: black;
		position: fixed;
		top: 0px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

	}

	footer {
		background-color: black;
		height: 80px;
		width: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}

	#biquette{
		display: none;
	}

	.biquette{
		height:615px;
		width:715px;
	}
	
	#Galery{
		display: flex;
		flex-wrap: wrap;
		
	}

	


</style>

